@import "variables";

[title-bar-style="hidden-inset"]{
  atom-bugs-panel{
    padding-left: 70px;
  }
}

atom-bugs-panel {
  display: block;
  input,
  select {
    -webkit-appearance: none;
  }
  .btn-select {
    padding-left: 0;
    padding-right: 0;
    i {
      position: absolute;
      left: 7px;
      top: 0;
      z-index: 0;
      & + select {
        padding-left: 22px;
      }
    }
    select {
      padding-left: 10px;
      padding-right: 22px;
      background-color: transparent;
      border: none;
      height: 100%;
      width: auto;
      position: relative;
      z-index: 2;
    }
    &:after {
      z-index: 0;
      content: '\46';
      position: absolute;
      right: 0;
      line-height: 0;
      right: 7px;
      top: 50%;
      font-family: 'bugs'
    }
  }
  box-shadow: 0 -1px 0 0 rgba(0,0,0, .2) inset;
  .btn-group {
    padding: 0.45rem;
    &:first-child {
      padding-right: 0px;
    }
  }
  .bugs-breadcrumb {
    background-color: @button-background-color;
    background-image: none;
    z-index: 1!important;
    &:hover {
      background-color: @button-background-color-hover;
      background-image: none;
      &:after {
        border-left-color: @button-background-color-hover;
      }
    }
    &[disabled] {
      &:after,
      &:before {
        opacity: .65
      }
    }
    & + .btn {
      padding-left: 14px;
      border-left: none;
    }
    &:after,
    &:before {
      content: " ";
      display: block;
      width: 0;
      height: 0;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-left: 8px solid transparent;
      position: absolute;
      top: 50%;
      margin-top: -12px;
      left: 100%;
      z-index: 10;
    }
    &:after {
      border-left-color: @button-background-color;
    }
    &:before {
      border-left-color: rgba(0,0,0, .3);
      margin-left: 1px;
    }
  }
  .bugs-icon-play {
    color: @text-color-success;
  }
  .bugs-icon-stop {
    color: @text-color-error;
  }
}

atom-bugs-schemes,
atom-bugs-console {
  .form-control {
    background-color: @input-background-color;
    border-radius: @component-border-radius;
    color: @text-color-highlight;
    border: 1px solid @input-border-color;
    height: 26px;
    &:focus{
      background-color: @input-background-color-focus;
      border-color: @accent-color;
      box-shadow: none;
    }
    &[readonly] {
      background-color: @input-background-color!important;
      border-color: @input-border-color!important;
      opacity: .65;
    }
    &::-webkit-input-placeholder {
      color: @text-color-faded
    }
  }
}

atom-text-editor {
  &,
  &::shadow{
    // .bugs-evaluate-expression {
    //   .region{
    //     background-color: @accent-color;
    //     color: #FFF;
    //     padding: 10px;
    //   }
    // }
    bugs-evaluate-panel {
      background-color: @button-background-color;
      border: 1px solid @button-border-color;
      border-radius: 3px;
      margin-left: -30px;
      margin-top: 7px;
      padding: 7px;
      display: block;
      min-width: 300px;
      &:before {
        content: '';
        transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        background-color: @button-background-color;
        width: 13px;
        height: 13px;
        position:absolute;
        z-index: 1; // -1 to be below parent
        top: 1px;
        left: -15px;
        border-radius: 0 0 0 3px;
        border-bottom: 1px solid @button-border-color;
        border-left: 1px solid @button-border-color;
      }
    }
    .line-number{
      padding-left: 0.8em !important;
    }
    .bugs-line-breakpoint:after {
      content: '';
      background-color: @accent-color;
      background-repeat: no-repeat;
      background-position: center left;
      background-size: 100% auto;
      -webkit-mask-image: url(atom://atom-bugs/resources/images/breakpoint.svg);
      -webkit-mask-repeat: no-repeat;
      mask-image: url(atom://atom-bugs/resources/images/breakpoint.svg);
      mask-repeat: no-repeat;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
  }
}
