@import "variables";

atom-bugs-console {
  display: block;
  pre {
    padding: 0;
    background-color: @pane-item-background-color;
    border-radius: 0;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
    max-height: 200px;
  }
  input {
    border-radius: 0!important;
    width: 100%;
  }
  .bugs-label{
    border-radius: 2px;
    padding: 1px 4px;
    margin-right: 4px;
    text-shadow: 0 0 1px rgba(0,0,0,.4);
    box-shadow: 0 0 0 1px rgba(0,0,0,.2) inset;
    &.bugs-label-info {
      color: @text-color-selected;
      background-color: @accent-color;
    }
    &.bugs-label-error {
      color: @text-color-selected;
      background-color: @text-color-error;
    }
    &.bugs-label-string {
      color: @text-color-selected;
      background-color: #d77e7e;
    }
    &.bugs-label-object {
      color: @text-color-selected;
      background-color: #eec94d;
    }
    &.bugs-label-boolean {
      color: @text-color-selected;
      background-color: #bd97d6;
    }
    &.bugs-label-number,
    &.bugs-label-trace {
      color: @text-color-selected;
      background-color: #7ea7d6;
    }
    &.bugs-label-function {
      color: @text-color-selected;
      background-color: #92c488;
    }
  }
  .bugs-line {
    padding: 5px;
    line-height: 1.8;
    white-space: pre-wrap;
    border-top: 1px solid @pane-item-border-color;
    &:first-child {
      &:not(:last-child) {
        border-top: 0;
      }
    }
  }
}
