@import "variables";

atom-bugs-console {
  display: block;
  border-bottom: 1px solid @pane-item-border-color;
  position: relative;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  atom-bugs-output,
  atom-bugs-debug {
    float: left;
    overflow: auto;
    height: 200px;
    box-sizing: border-box;
    padding: 0;
  }
  atom-bugs-output {
    width: 80%;
    background-color: @pane-item-background-color;
    border-radius: 0;
    position: relative;
  }
  atom-bugs-debug {
    width: 20%;
    border-right: 1px solid @pane-item-border-color;
  }
  atom-bugs-lines {
    display: block;
    margin-bottom: 26px;
  }
  .bugs-label{
    border-radius: 2px;
    padding: 1px 4px;
    margin-right: 4px;
    text-shadow: 0 0 1px rgba(0,0,0,.4);
    box-shadow: 0 0 0 1px rgba(0,0,0,.2) inset;
    &.bugs-label-info {
      color: @text-color-selected;
      background-color: @accent-color;
    }
    &.bugs-label-error {
      color: @text-color-selected;
      background-color: @text-color-error;
    }
    &.bugs-label-string {
      color: @text-color-selected;
      background-color: #d77e7e;
    }
    &.bugs-label-object {
      color: @text-color-selected;
      background-color: #eec94d;
    }
    &.bugs-label-boolean {
      color: @text-color-selected;
      background-color: #bd97d6;
    }
    &.bugs-label-number,
    &.bugs-label-trace {
      color: @text-color-selected;
      background-color: #7ea7d6;
    }
    &.bugs-label-function {
      color: @text-color-selected;
      background-color: #92c488;
    }
  }
  .bugs-line {
    padding: 5px;
    line-height: 1.8;
    white-space: pre-wrap;
    border-top: 1px solid @pane-item-border-color;
    &:first-child {
      border-top: 0;
    }
  }
}
